<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Intonate</a>
    </div>
  </div>
</div>

<div class="container-fluid">
  <form action="/blab/create" method="post" enctype="multipart/form-data">
    Name: <input type="text" name="createdBy"><br>
    Type text: <input type="text" name="text"><br>
    Upload audio: <input type="file" name="audio"><br>
    <input type="submit" name="Go">
  </form>
</div>

