!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Intonate
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    style(type='text/css') body { padding-top: 60px; padding-bottom: 40px; }
  body
    block body
